<h1>All restaurants</h1>
<h2><%= link_to "Add restaurant", new_restaurant_path %></h2>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %>
<% end %>
